<html>

<body>
  <div class="font-sans mb-20">
    <div class="max-w-sm rounded overflow-hidden shadow-lg p-2">
      <img class="w-60" src="../../resources/assets/images/LogoTienda.jpg" alt="#TecnoShop">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">TecnoShop</div>
        <p class="text-gray-700 text-base">
          Somos una empresa dedica a la venta de productos de tecnologia de las mejores marcas, contamos con la mayor
          variedad y calidad en los productos y siempre al mejor precio.
        </p>
      </div>
      <div class="px-6 py-4">
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#TecnoShop</span>
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Tecnología</span>
      </div>
    </div>
  </div>

</body>

</html>